<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><g:layoutTitle default="Grails"/></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
		<link rel="apple-touch-icon" href="${resource(dir: 'images', file: 'apple-touch-icon.png')}">
		<link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'main.css')}" type="text/css">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'mobile.css')}" type="text/css">
		<g:layoutHead/>
        <r:layoutResources />

        <script type="text/javascript">
            function showAddClient(){
                var div = document.getElementById('clientInformation');
                <g:render template="/research/addClient" />
            }
        </script>

        <g:javascript library="prototype" />
        <g:javascript>
            function showSpinner(visible) {
                $('spinner').style.display = visible ? "inline" : "none";
            }
            Ajax.Responders.register({
                onLoading: function() {
                    showSpinner(true);
                },
                onComplete: function() {
                    if(!Ajax.activeRequestCount) showSpinner(false);
                }
            });
        </g:javascript>

        <script type="text/javascript">
            function addClientTemplate(){
                var div = document.getElementById('newClientForm');
                div.innerHTML += "<textarea name='new_quote[]' />";
                div.innerHTML += "\n<br />";
            }
        </script>
	</head>
	<body>
		<div id="sartLogo" role="banner"><a href="http://www.sartconsult.com"><img src="${resource(dir: 'images', file: 'sart_logo.png')}" alt="SART Consult"/></a></div>
		<g:layoutBody/>
		<div class="footer" role="contentinfo"></div>
		<div id="spinner" class="spinner" style="display:none;"><g:message code="spinner.alt" default="Loading&hellip;"/></div>
		<g:javascript library="application"/>
		<r:layoutResources />
	</body>
</html>
